{% extends 'extras/base.html' %}
{% load static %}
{% block title %} {{patient}} - [{{patient.PatientID}}]{% endblock title %}

{% block content %}
<div id="patient-info-title">
    <h5 class="d-inline">Patient Information&nbsp;&nbsp;&nbsp;</h5> <h5 class="d-inline">| <a class="edit-info-link" href="{% url 'patient_edit' patient.PatientID %}"><i class="fa fa-pencil fa-fw"></i> Edit Patient Record</a></h5>
</div>
<div class="info" class="mb-2">
<table class="table table-borderless">
    <tbody>
        <tr>
            <td style="text-align: right;">First Name:</td>
            <td style="text-align: left;"><strong>{{patient.FirstName}}</strong></td>
            
            {% if patient.OtherName %}
                <td style="text-align: right;">Other Name:</td>
                <td style="text-align: left;"><strong>{{patient.OtherName}}</strong></td>
            {% endif %}
            <td style="text-align: right;">SurName:</td>
            <td style="text-align: left;"><strong>{{patient.SurName}}</strong></td>
            {% if not patient.OtherName %}
                <td style="text-align: right;">Patient ID:</td>
                <td style="text-align: left;"><strong>{{patient.PatientID}}</strong></td>
            {% endif %}
        </tr>
        <tr>
            {% if patient.OtherName %}
                <td style="text-align: right;">Patient ID:</td>
                <td style="text-align: left;"><strong>{{patient.PatientID}}</strong></td>
            {% endif %}
        </tr>
        <tr>
            <td style="text-align: right;">Gender:</td>
            <td style="text-align: left;"><strong>{{patient.GenderID}}</strong></td>
            <td style="text-align: right;">Age:</td>
            <td style="text-align: left;"><strong>{{patient.getAge}}</strong></td>
            <td style="text-align: right;">Religion:</td>
            <td style="text-align: left;"><strong>{{patient.ReligionID}}</strong></td>
        </tr>
        <tr>
            <td style="text-align: right;">Mobile:</td>
            <td style="text-align: left;"><strong>{{patient.ResidencePhone}}</strong></td>
            <td style="text-align: right;">Address:</td>
            <td style="text-align: left;"><strong>{{patient.ResidenceAddress}}</strong></td>
            <td style="text-align: right;">Occupation:</td>
            <td style="text-align: left;"><strong>{{patient.Occupation}}</strong></td>
        </tr>
    </tbody>
</table>
</div>
<div id="nextofkin-info-title" class="mt-2">
    <h5 class="d-inline">Next of Kin Information&nbsp;&nbsp;&nbsp;</h5> <h5 class="d-inline">| <a class="edit-info-link" href="{% url 'patient_nextofkin_edit' patient.PatientID %}">Add Next Of Kin</a></h5>
</div>

{% if patient.nextofkin_set.all %}
    <div class="info">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name of Next of Kin</th>
                    <th>Relation to Patient</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {% for nextofkin in patient.nextofkin_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{nextofkin.NextOfKinName}}</td>
                        <td>{{nextofkin.RelationTypeID}}</td>
                        <td>{{nextofkin.ContactAddress}}</td>
                        <td><i class="bi bi-pencil">edit</i></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
    
<div id="insurance-info-title" class="mt-2">
    <h5 class="d-inline">Billing Account Information&nbsp;&nbsp;&nbsp;</h5> 
    <h5 class="d-inline">| <a class="edit-info-link" href="{% url 'sponsor_add' patient.PatientID %}">
        <i class="fa-solid fa-wallet fa-fw"></i>
        Add Billing Account
        </a>
    </h5>
</div>

{% if patient.billingaccount_set.all %}
    <div class="info">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Sponsor</th>
                    <th>Scheme</th>
                    <th>Type</th>
                    <th>Scheme No.</th>
                    <th>Status</th>
                    <th>Expiry Date</th>
                    <th>Entry Date</th>
                </tr>
            </thead>
            <tbody>
                {% for billing_account in patient.billingaccount_set.all %}
                    <tr class='billing-info'>
                        <td>{{forloop.counter}}</td>
                        <td>{{billing_account.InsuranceSchemeID.SponsorID}}</td>
                        <td>{{billing_account.InsuranceSchemeID}}</td>
                        <td>{{billing_account.RelationTypeID}}</td>
                        <td>{{billing_account.BillingAccountID}}</td>
                        <td
                            
                            {% if billing_account.SponsorStatusID.id == 1 %}
                                class="text-success"
                            {% else %}
                                class="text-danger"
                            {% endif %}
                                
                        >
                            {{billing_account.SponsorStatusID}}
                        </td>
                        <td>{{billing_account.ExpiryDate|date:'l, F j, Y'}}</td>
                        <td>{{billing_account.CreatedAt|date:'l, F j, Y'}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        {% comment %} <td></td> {% endcomment %}
                        <td colspan="7">
                            <table class="table table-borderless">
                                <th>Visit Information &nbsp;&nbsp;&nbsp; | Add New Visit</th>
                                <tbody>
                                    
                                    {% if billing_account.visitation_set.all %}
                                    <tr>
                                        <td><b>Visit ID</b></td><td><b>Visit Type</b></td><td><b>Consultation Type</b></td><td><b>Visit Status</b></td><td><b>Visit Date</b></td>
                                    </tr>    
                                    
                                    {% for visit in billing_account.visitation_set.all %}
                                        <tr>
                                        <td>{{visit.VisitationID}}</td><td>{{visit.VisitTypeID}}</td><td>{{visit.ConsultationTypeID}}</td><td>{{visit.VisitStatusID}}</td><td>{{visit.VisitDate|date:'l, F j, Y'}}</td>
                                        </tr>
                                    {% endfor %}
                                                        
                                    {% endif %}
                    
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
    
{% endblock content %}