#patient-info { 
    padding: 20px;
}

#patient-info-title {
    background-color: rgb(43, 113, 134);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    color: aliceblue;
}
div.info {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(245, 244, 244);
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}
h5 {
    margin-bottom: 0px;
}
#nextofkin-info-title {
    background-color: rgb(43, 113, 134);
    color: aliceblue;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* #nextofkin-info {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(245, 244, 244);
} */

#sponsor-info {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(245, 244, 244);
}

a.edit-info-link {
    color: white;
    text-decoration: none;
}

a.edit-info-link:hover {
    color: purple;
}

#insurance-info-title {
    background-color: rgb(43, 113, 134);
    padding: 15px;
    color: aliceblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.btn-primary {
    background-color: rgb(43, 113, 134);
    border-color: rgb(43, 113, 134);;
}

label[for*="DELETE"] {
    color: red;
}